@import "tailwindcss";

@theme inline {
  --font-text: var(--font-text);
  --font-style: var(--font-style);
  --color-maroon: #652126;
  --color-brown: #B69D74;
  --color-cream: #F4F5EF;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-text);
}

#practice {
  scroll-margin-top: 300px;
}